@using BLocal.Web.Manager.Business
@model BLocal.Web.Manager.Models.TranslationVerificationData
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Localization management</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")"/>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/homebrew.popup.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(this).find(".missingValue").hide();
            $(".toggle").click(function () {
                $(this).find(".missingValue").toggle();
            });
            
            var fix = $.popup($("#fix"));
            $(".missingValue").click(function() {
                var current = $(this);
                var part = current.attr("data-part");
                var locale = current.attr("data-locale");
                var key = current.attr("data-key");

                fix.onOpened = function(elements) {
                    $(elements).find(".content").focus();
                };

                fix.onOpen = function(elements) {
                    $(elements).find(".part").html(part);
                    $(elements).find(".locale").html(locale);
                    $(elements).find(".key").html(key);

                    $(elements).find(".update").click(function() {
                        var newValue = $(elements).find(".content").val();
                        if (newValue.trim() == "" && !confirm("Are you sure you want to create an empty translation?"))
                            return true;
                        
                        $.ajax({
                            url: '@Url.Action("TransUpdate", "Home")',
                            data: { part: part, key: key, locale: locale, value: newValue },
                            type: 'POST',
                            success: function() {
                                current.remove();
                                fix.close();
                            },
                            error: function () {
                                alert(":'(");
                            }
                        });
                        return true;
                    });
                    $(elements).find(".remove").click(function () {
                        if (!confirm("Are you sure you want to remove this value and all of its translations?"))
                            return true;

                        $.ajax({
                            url: '@Url.Action("TransDelete", "Home")',
                            data: { part: part, key: key },
                            type: 'POST',
                            success: function () {
                                $(".missingValue[data-part='" + part + "'][data-key='" + key + "']").remove();
                                fix.close();
                            },
                            error: function () {
                                alert(":'(");
                            }
                        });
                        return true;
                    });
                };
                fix.open();
                return false;
            });
        });
    </script>
</head>

<body>
    <h1>@Html.ActionLink("Home", "Overview") - Translation Verification - [@(((ProviderPair) Session["translationProviderPair"]).Name)]</h1>
    
    @foreach (var locale in Model.LocalesAvailable) {
        var missingGroups = Model.LocaleIndepandantValueLookup.Where(group => !group.Any(qv => qv.Qualifier.Locale.Equals(locale))).ToArray();
        <section class="general toggle">
            <h2>Missing values for [@locale.Name] (@missingGroups.Length)</h2>
            @foreach (var group in missingGroups) {
                <div class="missingValue" data-part="@group.Key.Part" data-locale="@locale" data-key="@group.Key.Key">
                    <h3>[@group.Key.Part] - @group.Key.Key</h3>
                    <table><tbody>
                        @foreach (var hintValue in group) {
                            <tr data-part="@group.Key.Part" data-key="@group.Key.Key">
                                <td style="padding-right: 5px;">@hintValue.Qualifier.Locale.Name</td><td>@hintValue.Value</td>
                            </tr>
                        }
                    </tbody></table>
                </div>
            }
        </section>
    }
    
    <div id="fix" class="popup">
        <h2>Add missing translation</h2>
        <form>
            <p><span class="locale"></span> => <span class="part"></span> | <span class="key"></span></p>
            <div><textarea class="content"></textarea></div>
            <div><input type="button" class="update" value="Add Translation" /> <input type="button" class="remove" value="Remove Completely" title="Deletes all corresponding values in all languages and cleans up" /> (visible changes are indications, press reload to confirm)</div>
        </form>
    </div>

</body>
</html>