@model BLocal.Web.Manager.Models.ManualSynchronization.SynchronizationData
@{
    ViewBag.Title = "Synchronization";
    ViewBag.PageName = "ManualSynchronization.Index";
}
@section Head {
    <script type="text/javascript">
        window.urls = window.urls || {};
        window.urls.current = '@Url.Action("Index", "ManualSynchronization")';
        window.urls.remove = '@Url.Action("Remove", "ManualSynchronization")';
        window.urls.duplicate = '@Url.Action("Duplicate", "ManualSynchronization")';
        window.urls.update = '@Url.Action("Update", "ManualSynchronization")';
    </script>
}

<h1>@Html.ActionLink("Home", "Overview", "Home") - Synchronization between <span class="accent">@Model.LeftName</span> and <span class="accent">@Model.RightName</span> as <span class="accent">@Session["author"]</span></h1>

<section class="general" data-from="left">
    <h2>Values existing on <span class="accent">@Model.LeftName</span> but not on <span class="accent">@Model.RightName</span> (@Model.LeftValuesNotRight.Length)</h2>
    <p>
        <button class="select">Select All</button>
        <button class="deselect">Deselect All</button>
        <button class="delete">Delete from <span class="accent">@Model.LeftName</span></button>
        <button class="duplicate">Create on <span class="accent">@Model.RightName</span></button>
    </p>
    <table cellpadding="0" cellspacing="0"><tbody>
        @foreach (var value in Model.LeftValuesNotRight) {
            <tr class="lrvalue">
                <td style="white-space: nowrap">
                    <input type="checkbox" name="values" data-side="Left" data-part="@value.Value.Qualifier.Part" data-locale="@value.Value.Qualifier.Locale" data-key="@value.Value.Qualifier.Key"/>
                </td>
                <td style="white-space: nowrap;">
                    @value.Value.Qualifier.Key <br />
                    <span class="localepart">@value.Value.Qualifier.Locale | @value.Value.Qualifier.Part</span><br />
                    <span class="localepart">@value.History.LatestEntry().DateTimeUtc - @value.History.LatestEntry().Author</span>
                </td>
                <td style="width: 99%;">@value.Value.Value</td>
            </tr>
        }
    </tbody></table>
</section>
<section class="general" data-from="right">
    <h2>Values that exist on <span class="accent">@Model.RightName</span> but not on <span class="accent">@Model.LeftName</span> (@Model.RightValuesNotLeft.Length)</h2>
    <p>
        <button class="select">Select All</button>
        <button class="deselect">Deselect All</button>
        <button class="delete">Delete from <span class="accent">@Model.RightName</span></button>
        <button class="duplicate">Create on <span class="accent">@Model.LeftName</span></button>
    </p>
    <table cellpadding="0" cellspacing="0"><tbody>
        @foreach (var value in Model.RightValuesNotLeft) {
            <tr class="lrvalue">
                <td style="white-space: nowrap">
                    <input type="checkbox" name="values" data-side="Right" data-part="@value.Value.Qualifier.Part" data-locale="@value.Value.Qualifier.Locale" data-key="@value.Value.Qualifier.Key"/>
                </td>
                <td style="white-space: nowrap;">
                    @value.Value.Qualifier.Key <br />
                    <span class="localepart">@value.Value.Qualifier.Locale | @value.Value.Qualifier.Part</span>
                </td>
                <td style="width: 99%;">@value.Value.Value</td>
            </tr>
        }
    </tbody></table>
</section>
<section class="general">
    <h2>Values that differ between the two (@Model.ValueDifferences.Length)</h2>
    <p>
        <input class="locktoggle" type="button" value="Unlock change buttons below" data-alt="Lock change buttons below"/>
    </p>
    @foreach (var value in Model.ValueDifferences) {
        <section class="difference">
            <h2>@value.Left.Value.Qualifier.Key</h2>
            <p class="localepart">@value.Left.Value.Qualifier.Locale | @value.Left.Value.Qualifier.Part</p>
            <section class="comparison">
                <div class="left">
                    <p>@value.Left.Value.Value</p>
                    <p>
                        <button data-side="Left" data-part="@value.Left.Value.Qualifier.Part" data-locale="@value.Left.Value.Qualifier.Locale" data-key="@value.Left.Value.Qualifier.Key" disabled="disabled">
                            Change on <span class="accent">@Model.RightName</span> using this value
                        </button><br />
                        @value.Left.History.LatestEntry().DateTimeUtc - @value.Left.History.LatestEntry().Author
                    </p>
                </div>
                <div class="right">
                    <p>@value.Right.Value.Value</p>
                    <p>
                        <button data-side="Right" data-part="@value.Right.Value.Qualifier.Part" data-locale="@value.Right.Value.Qualifier.Locale" data-key="@value.Right.Value.Qualifier.Key" disabled="disabled">
                            Change on <span class="accent">@Model.LeftName</span> using this value
                        </button><br />
                        @value.Left.History.LatestEntry().DateTimeUtc - @value.Left.History.LatestEntry().Author
                    </p>
                </div>
                <div class="clear"></div>
            </section>
        </section>
    }
</section>