<!DOCTYPE html>
<html>
<head>
    <title>BLocal | @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/homebrew.popup.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.app.js")" type="text/javascript"></script>
    @RenderSection("Head", false)
</head>

<body>
    @RenderBody()
</body>
</html>
