@model BLocal.Web.Manager.Models.ImportExport.ImportReportData

@{
    ViewBag.Title = "Import";
}
@section Head {
    <script type="text/javascript">
        $(document).ready(function() {
            $("tr").click(function(e) {
                if ($(e.originalEvent.srcElement).is("input"))
                    return true;

                var check = $(this).find("input[type=checkbox]");
                check.prop("checked", function (i, val) { return !val; });

                return true;
            });

            var updateList = function(elements, url, finish) {
                var data = [];

                elements.each(function() {
                    var element = $(this);
                    if (element.find("input[type=checkbox]").is(":checked")) {
                        data.push({
                            part: element.find(".part").html(),
                            key: element.find(".key").html(),
                            value: element.find(".value").html()
                        });
                    }
                });

                if (data.length == 0) {
                    finish(0);
                    return;
                }

                $.ajax({
                    url: url,
                    data: JSON.stringify({
                        providerConfigName: $("input[type=hidden].provider").val(),
                        locale: $("input[type=hidden].locale").val(),
                        data: data
                    }),
                    type: 'POST',
                    contentType: 'application/json, charset=utf-8',
                    success: function() {
                        finish(data.length);
                    },
                    error: function() {
                        finish(0);
                        alert("Something went wrong. Check your internet connection and try again. If the problem persists, contact IT.");
                    }
                });
            };

            $(".finalize").click(function() {
                var toReturn = 3;
                var actions = 0;
                var syncFinish = function(actionCount) {
                    actions += actionCount;
                    if (--toReturn == 0) {
                        alert("Finished a total of " + actions + " actions. Please manually refresh the page to verify. (ctrl+F5)");
                    }
                };

                if (!confirm("Finalize import? You will be notified once it's finished."))
                    return;

                updateList($(".inserts tr"), '@Url.Action("FinalizeInsert")', syncFinish);
                updateList($(".updates tr"), '@Url.Action("FinalizeUpdate")', syncFinish);
                updateList($(".deletes tr"), '@Url.Action("FinalizeDelete")', syncFinish);
            });
        });
    </script>
}

<h1>@Html.ActionLink("Home", "Overview", "Home") - Import / Export - [@Model.ProviderGroupName]</h1>
    
<section class="general">
    <h2>Import | Step 2</h2>
    <p>
        Exporting from <strong>[ @Model.UploadedFileName ]</strong> to <strong>[ @Model.ProviderGroupName ]</strong>.<br />
        Detected <strong>[ @Model.Inserts.Count ]</strong> new values, <strong>[ @Model.Updates.Count ]</strong> changes, <strong>[ @Model.Deletes.Count ]</strong> deleted values.<br />
        Affected locale is <strong>[ @Model.AffectedLocale ]</strong>.
    </p>
    <p>Please check the data before pressing the finalize button. Only actions selected below (all are selected by default) will be finalized.</p>
    <p><input type="button" class="finalize" value="Finalize selected actions"/></p>
    <input type="hidden" class="locale" value="@Model.AffectedLocale"/>
    <input type="hidden" class="provider" value="@Model.ProviderGroupName"/>
</section>
<section class="general">
    <h2>Newly added values</h2>
    <table cellpadding="0" cellspacing="0" class="inserts"><tbody>
        @foreach (var insert in Model.Inserts)
        {
            <tr class="lrvalue">
                <td style="white-space: nowrap"><input type="checkbox" checked="checked" /></td>
                <td style="white-space: nowrap" class="part">@insert.Qualifier.Part</td>
                <td style="white-space: nowrap" class="key">@insert.Qualifier.Key</td>
                <td style="width: 99%;" class="value">@insert.Value</td>
            </tr>
        }
    </tbody></table>
</section>
<section class="general">
    <h2>Values Changed</h2>
    <table cellpadding="0" cellspacing="0" class="updates"><tbody>
        @foreach (var update in Model.Updates)
        {
            <tr class="lrvalue">
                <td style="white-space: nowrap"><input type="checkbox" checked="checked" /></td>
                <td style="white-space: nowrap" class="part">@update.Item1.Qualifier.Part</td>
                <td style="white-space: nowrap" class="key">@update.Item1.Qualifier.Key</td>
                <td style="width: 99%;">
                    <p class="oldvalue">@update.Item1.Value</p>
                    <p class="value">@update.Item2.Value</p>
                </td>
            </tr>
        }
    </tbody></table>
</section>
<section class="general">
    <h2>Values to be removed (only for locale [@Model.AffectedLocale])</h2>
    <table cellpadding="0" cellspacing="0" class="deletes"><tbody>
        @foreach (var delete in Model.Deletes)
        {
            <tr class="lrvalue">
                <td style="white-space: nowrap"><input type="checkbox" checked="checked" /></td>
                <td style="white-space: nowrap" class="part">@delete.Qualifier.Part</td>
                <td style="white-space: nowrap" class="key">@delete.Qualifier.Key</td>
                <td style="width: 99%;" class="value">@delete.Value</td>
            </tr>
        }
    </tbody></table>
</section>